<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Books Page</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/users">Users</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/books">Books</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/authors">Authors</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/loans">Loans</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <h1 class="m-3">
                Books Page
                <a class="btn btn-dark btn-sm" role="button" href="/books/new"><i class="bi bi-file-earmark-plus-fill"></i></a>
            </h1>
                <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Titolo</th>
                        <th scope="col">ISBN</th>
                        <th scope="col">Anno Pubblicazione</th>
                        <th scope="col">Categoria</th>
                        <th scope="col">Autore</th>
                        <th scope="col">Num.Pagine</th>
                        <th scope="col">Lingua</th>
                        <th scope="col">Editore</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="book : ${books}">
                        <th scope="row" th:text="${book.id}"></th>
                        <td th:text="${book.titolo}"></td>
                        <td th:text="${book.isbn}"></td>
                        <td th:text="${book.annoPubblicazione}"></td>
                        <td>
                            <span th:each="cat, stat : ${book.categorie}">
                                <span th:text="${cat.nome}"></span>
                                <span th:if="${!stat.last}">, </span>
                            </span>
                        </td>
                        <td th:text="${book.autore.nome}"></td>
                        <td th:text="${book.dettaglio.numeroPagine}"></td>
                        <td th:text="${book.dettaglio.lingua}"></td>
                        <td th:text="${book.dettaglio.editore}"></td>
                        <td>
                            <a class="btn btn-warning btn-sm" role="button" th:href="@{/books/edit/category/{id}(id=${book.id})}"><i class="bi bi-tags"></i>
                            <a class="btn btn-primary btn-sm" role="button" th:href="@{/books/edit/{id}(id=${book.id})}"><i class="bi bi-slash-square"></i></a>
                            <a class="btn btn-danger btn-sm" role="button" th:href="@{/books/delete/{id}(id=${book.id})}"><i class="bi bi-trash"></i></a>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    </body>
</html>